<!DOCTYPE html>
<html lang="en">
<head>
    <title>TP Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="TP SHOP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <link rel="shortcut icon" type="image/png" href="~/favicon.ico" />

    <partial name="_P_Styles" />
    @RenderSection("Styles", false)
</head>

<body>
    <partial name="_P_Header" />

    <div class="super_container">
    @RenderBody()
    </div>

    <partial name="_P_Footer" />

    <partial name="_P_Scripts" />

    @RenderSection("Scripts", false)
    <button id="backtop">
        <i class="fa fa-chevron-circle-up "></i>
    </button>
</body>
<script src="https://messenger.svc.chative.io/static/v1.0/channels/sb5e342d9-18e3-4d25-93fd-ef6b6dc0db14/messenger.js?mode=livechat" defer="defer"></script>
</html>
