<!-- Newsletter -->

<div class="newsletter">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
					<h4>BẠN CÓ VẤN ĐỀ ?</h4>
					<p>LIÊN HỆ VỚI CHÚNG TÔI</p>
				</div>
			</div>
			<div class="col-lg-6 d-flex justify-content-center align-items-center">
				<div>
					<a href="/Contact">
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">LIÊN HỆ</button>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Footer -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
					<ul class="footer_nav">
						<li><strong><a href="/Blog">Bài Viết</a></strong></li>
						<li><strong><a href="/News">Tin Tức</a></strong></li>
						<li><strong><a href="/Contact">Liên Hệ</a></strong></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
					<ul>
						<li><strong><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></strong></li>
						<li><strong><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></strong></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- New row for personal information and website introduction -->
		<div class="row">
			<div class="col-lg-6">
				<div class="footer_intro text-center text-lg-left">
					<h4><strong>Giới thiệu về chúng tôi</strong></h4>
					<p>
						Chúng tôi rất hân hạnh giới thiệu đến bạn shop thời trang nam mới mở - Thiều & Phú, một điểm đến lý tưởng dành cho các quý ông yêu thích phong cách và sự hoàn hảo trong từng chi tiết. Tại Thiều & Phú, chúng tôi cam kết mang đến cho khách hàng những sản phẩm thời trang chất lượng cao, đa dạng về mẫu mã và luôn cập nhật xu hướng mới nhất.
						
					</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer_contact_info text-center text-lg-right">
					<h4>
						<strong>Thông tin liên hệ</strong>
					</h4>
					<p><i class="fa fa-phone"></i>  0961 874 429</p>
					<p><i class="fa fa-envelope"></i>  tovanthieu2002@gmail.com</p>
					<p><i class="fa fa-map-marker"></i>  1, KP7, Đường Bùi Văn Hòa, Biên Hòa, Đồng Nai</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="footer_nav_container">
					<div class="cr">©2018 All Rights Reserved. Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
				</div>
			</div>
		</div>
	</div>
</footer>