<header class="header trans_300">

	<!-- Top Navigation -->

	<div class="top_nav">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="top_nav_left">Kính Chào Quý Khách  </div>
				</div>
				<div class="col-md-6 text-right">
					<div class="top_nav_right">
						<ul class="top_nav_menu">

							<!-- Currency / Language / My Account -->

							<li class="currency">
								<a href="#">
									usd
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="currency_selection">
									<li><a href="#">cad</a></li>
									<li><a href="#">aud</a></li>
									<li><a href="#">eur</a></li>
									<li><a href="#">gbp</a></li>
								</ul>
							</li>
							<li class="language">
								<a href="#">
									English
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="language_selection">
									<li><a href="#">French</a></li>
									<li><a href="#">Italian</a></li>
									<li><a href="#">German</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>
							</li>
							<li class="account">
								<a href="#">
									Tài Khoản
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="account_selection">
									<li><a href="/user/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng Nhập</a></li>
									<li><a href="/user/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng Ký</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Navigation -->

	<div class="main_nav_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<div class="logo_container">
						<a href="/">TP<span>shop</span></a>
					</div>
					<nav class="navbar">
						<ul class="navbar_menu">
							<li><a href="/">Trang Chủ</a></li>
								<li><a href="Product">Sản Phẩm</a></li>
							<li><a href="#">Giới Thiệu</a></li>
							<li><a href="/blog">Tin Tức</a></li>
								<li><a href="/Contact">Liên Hệ</a></li>
						</ul>
						<ul class="navbar_user">
							<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
							<li class="checkout">
								<a href="/shoppingcart">
									<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									<span id="checkout_items" class="checkout_items">2</span>
								</a>
							</li>
						</ul>
						<div class="hamburger_container">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>

</header>