<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang Chủ</a></li>

                </ul>
            </div>

<section class="section-b-space section_place_order bg-light" data-select2-id="83">
    <div class="container" data-select2-id="16">
        <div class="checkout-page" data-select2-id="15">
            <div class="checkout-form" data-select2-id="14">
                <input type="hidden" id="input_feeship_calculate" value="-1">
                <div class="row" data-select2-id="13">
                    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 col-xs-12 px-0 px-md-1" data-select2-id="12">

                        <div class="card mb-3">
                            <div class="card-body py-0">

                                <div class="row px-0" id="div_zone_cart" style="max-height: 300px;overflow-y: auto;">
                                    <div class="col-12 px-0 div_zone_shop">
                                        <div class="col-12   row m-0 p-2">
                                            <div class="col-auto px-1">
                                                <a href="javascript:void(0);">
                                                    <img src="https://minishopimage.h2aits.com/uploads/images/68D7F6F2-35FC-4B6A-91F4-ABDFDABA8B25/982d4e57-568e-4be0-a6aa-33fd42a26117.png" class="img-fluid img-thumbnail" loading="lazy" style="width:70px; height:70px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;object-fit: cover;" alt="undefined" onerror="this.onerror=null;this.src='/img_dev/error/product.png';">
                                                </a>
                                            </div>

                                            <div class="col">
                                                <a href="javascript:void(0);">
                                                    <div class="div_desktop_custom text-muted" title="undefined (haha)">
                                                        <span class="sp-line-2 text-black">Xoài xiêm</span>
                                                        <span class="col-auto badge badge-default" style="background: red;">haha</span>
                                                    </div>
                                                    <span class="text-danger fw-bold">Số lượng: 1</span>

                                                </a>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 div_desktop_custom text-right">
                                                <span class="m-0 color-default h6 d-flex" style="float: right;color: #357ebd;">
                                                    <span class="mx-1 text-black">Đơn giá :</span>
                                                    1đ

                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <form class="card" id="form_data_add_address" novalidate="novalidate" data-select2-id="form_data_add_address">
                            <div class="card-body" data-select2-id="11">
                                <div class="border-bottom color-default">
                                    <span style="font-size:16px;font-weight:700;"><i class="fa fa-id-card-o fa-lg section__title--icon hide-on-desktop mx-2"></i>Thông tin nhận hàng</span>

                                </div>
                                <div class="row mt-2 div_form_info_receiver_payment" data-select2-id="10">
                                    <div class="col-12 col-xl-6" data-select2-id="9">
                                        <div class="col-12 mt-3">
                                            <div class="form-floating theme-form-floating log-in-form">
                                                <input id="input_address_delivery_name" type="text" class="form-control" placeholder="Họ và tên" required="">
                                                <label style="color: #357ebd">Họ và tên<small class="text-danger fw-bolder">*</small></label>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div class="form-floating theme-form-floating log-in-form">
                                                <input onkeypress="return IsNumberKey(event)" id="input_address_delivery_phonenumber" type="text" name="receiverPhoneNumber" class="form-control" placeholder="Số điện thoại" required="">
                                                <label style="color: #357ebd">Số điện thoại <small class="text-danger fw-bolder">*</small></label>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1 select2-w100" id="div_select_province">
                                            <div class="field-label fw-normal" style="color: #357ebd;">Tỉnh/Thành<small class="text-danger fw-bolder">*</small></div>
                                            <select class="form-control select2-modal select2-hidden-accessible" id="select_province" onchange="GetListDistricts(this)" data-style="border" data-live-search="true" data-select2-id="select_province" tabindex="-1" aria-hidden="true"><option value="0" data-select2-id="7">--Chọn--</option><option value="92" data-select2-id="19">Thành phố Cần Thơ</option><option value="48" data-select2-id="20">Thành phố Đà Nẵng</option><option value="1" data-select2-id="21">Thành phố Hà Nội</option><option value="31" data-select2-id="22">Thành phố Hải Phòng</option><option value="79" data-select2-id="23">Thành phố Hồ Chí Minh</option><option value="89" data-select2-id="24">Tỉnh An Giang</option><option value="77" data-select2-id="25">Tỉnh Bà Rịa - Vũng Tàu</option><option value="24" data-select2-id="26">Tỉnh Bắc Giang</option><option value="6" data-select2-id="27">Tỉnh Bắc Kạn</option><option value="95" data-select2-id="28">Tỉnh Bạc Liêu</option><option value="27" data-select2-id="29">Tỉnh Bắc Ninh</option><option value="83" data-select2-id="30">Tỉnh Bến Tre</option><option value="52" data-select2-id="31">Tỉnh Bình Định</option><option value="74" data-select2-id="32">Tỉnh Bình Dương</option><option value="70" data-select2-id="33">Tỉnh Bình Phước</option><option value="60" data-select2-id="34">Tỉnh Bình Thuận</option><option value="96" data-select2-id="35">Tỉnh Cà Mau</option><option value="4" data-select2-id="36">Tỉnh Cao Bằng</option><option value="66" data-select2-id="37">Tỉnh Đắk Lắk</option><option value="67" data-select2-id="38">Tỉnh Đắk Nông</option><option value="11" data-select2-id="39">Tỉnh Điện Biên</option><option value="75" data-select2-id="40">Tỉnh Đồng Nai</option><option value="87" data-select2-id="41">Tỉnh Đồng Tháp</option><option value="64" data-select2-id="42">Tỉnh Gia Lai</option><option value="2" data-select2-id="43">Tỉnh Hà Giang</option><option value="35" data-select2-id="44">Tỉnh Hà Nam</option><option value="42" data-select2-id="45">Tỉnh Hà Tĩnh</option><option value="30" data-select2-id="46">Tỉnh Hải Dương</option><option value="93" data-select2-id="47">Tỉnh Hậu Giang</option><option value="17" data-select2-id="48">Tỉnh Hoà Bình</option><option value="33" data-select2-id="49">Tỉnh Hưng Yên</option><option value="56" data-select2-id="50">Tỉnh Khánh Hòa</option><option value="91" data-select2-id="51">Tỉnh Kiên Giang</option><option value="62" data-select2-id="52">Tỉnh Kon Tum</option><option value="12" data-select2-id="53">Tỉnh Lai Châu</option><option value="68" data-select2-id="54">Tỉnh Lâm Đồng</option><option value="20" data-select2-id="55">Tỉnh Lạng Sơn</option><option value="10" data-select2-id="56">Tỉnh Lào Cai</option><option value="80" data-select2-id="57">Tỉnh Long An</option><option value="36" data-select2-id="58">Tỉnh Nam Định</option><option value="40" data-select2-id="59">Tỉnh Nghệ An</option><option value="37" data-select2-id="60">Tỉnh Ninh Bình</option><option value="58" data-select2-id="61">Tỉnh Ninh Thuận</option><option value="25" data-select2-id="62">Tỉnh Phú Thọ</option><option value="54" data-select2-id="63">Tỉnh Phú Yên</option><option value="44" data-select2-id="64">Tỉnh Quảng Bình</option><option value="49" data-select2-id="65">Tỉnh Quảng Nam</option><option value="51" data-select2-id="66">Tỉnh Quảng Ngãi</option><option value="22" data-select2-id="67">Tỉnh Quảng Ninh</option><option value="45" data-select2-id="68">Tỉnh Quảng Trị</option><option value="94" data-select2-id="69">Tỉnh Sóc Trăng</option><option value="14" data-select2-id="70">Tỉnh Sơn La</option><option value="72" data-select2-id="71">Tỉnh Tây Ninh</option><option value="34" data-select2-id="72">Tỉnh Thái Bình</option><option value="19" data-select2-id="73">Tỉnh Thái Nguyên</option><option value="38" data-select2-id="74">Tỉnh Thanh Hóa</option><option value="46" data-select2-id="75">Tỉnh Thừa Thiên Huế</option><option value="82" data-select2-id="76">Tỉnh Tiền Giang</option><option value="84" data-select2-id="77">Tỉnh Trà Vinh</option><option value="8" data-select2-id="78">Tỉnh Tuyên Quang</option><option value="86" data-select2-id="79">Tỉnh Vĩnh Long</option><option value="26" data-select2-id="80">Tỉnh Vĩnh Phúc</option><option value="15" data-select2-id="81">Tỉnh Yên Bái</option></select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="1" style="width: 447.2px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-select_province-container"><span class="select2-selection__rendered" id="select2-select_province-container" role="textbox" aria-readonly="true" title="--Chọn--">--Chọn--</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                        <div class="col-12 mt-1 select2-w100 position-relative" id="div_select_district">
                                            <div class="field-label fw-normal" style="color: #357ebd;">Quận/Huyện <small class="text-danger fw-bolder">*</small></div>
                                            <select class="form-control select2-modal select2-hidden-accessible" id="select_district" onchange="GetListWards(this)" data-style="border" data-live-search="true" disabled="" data-select2-id="select_district" tabindex="-1" aria-hidden="true"><option value="0" data-select2-id="4">--Chọn--</option></select><span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" data-select2-id="3" style="width: 447.2px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" aria-labelledby="select2-select_district-container"><span class="select2-selection__rendered" id="select2-select_district-container" role="textbox" aria-readonly="true" title="--Chọn--">--Chọn--</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>

                                        <div class="col-12 mt-1 select2-w100 position-relative" id="div_select_ward">
                                            <div class="field-label fw-normal" style="color: #357ebd;">Phường/Xã <small class="text-danger fw-bolder">*</small></div>
                                            <select class="form-control select2-modal select2-hidden-accessible" id="select_ward" data-style="border" data-live-search="true" disabled="" data-select2-id="select_ward" tabindex="-1" aria-hidden="true"><option value="0" data-select2-id="6">--Chọn--</option></select><span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" data-select2-id="5" style="width: 447.2px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" aria-labelledby="select2-select_ward-container"><span class="select2-selection__rendered" id="select2-select_ward-container" role="textbox" aria-readonly="true" title="--Chọn--">--Chọn--</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>

                                        <div class="col-12 mt-1">
                                            <div class="field-label fw-normal" style="color: #357ebd;">Địa chỉ <small class="text-danger fw-bolder">*</small></div>
                                            <input type="text" class="form-control" id="input_addressie_address_text" value="" placeholder="Số nhà/đường" required="" data-val="true" data-val-length="Số nhà/tổ/phu phố có độ dài tối đa 100 ký tự" data-val-length-max="100" maxlength="100" name="addressIeText">

                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-3 mb-md-0">
                                            <div class="field-label fw-normal" style="color: #357ebd;">Ghi chú giao hàng (nếu có)</div>
                                            <textarea class="form-control input-custom px-2" type="text" id="input_remark" rows="7" placeholder="Nhập ghi chú giao hàng (nếu có)" maxlength="250"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="checkout-box mx-2 mt-2">
                                            <div class="checkout-title">
                                                <h4 class="fw-bold"><i class="fa-solid fa-truck mx-2" style="color: #357ebd;"></i> Vận chuyển</h4>
                                            </div>

                                            <div class="checkout-detail mt-2">
                                                <div class="row" id="div_shipping_fee_list" style="position:relative">
                                                    <div class="notifica-not-found text-center">
                                                        <img src="/img_dev/error/datanull.jpg" alt="No data">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="checkout-box mx-2 mt-4 ">
                                            <div class="checkout-title">
                                                <h4 class="fw-bold"><i class="fa-solid fa-circle-dollar-to-slot mx-2" style="color: #357ebd;font-size: 27px;"></i> Phương thức thanh toán</h4>
                                            </div>

                                            <div class="checkout-detail">
                                                <div class="row g-4" id="">
                                                    <div class="col-xxl-12 div_fee_ship_css_payment">
                                                        <div class="delivery-option div_css_delivery_payment d-flex">
                                                            <div class="delivery-category">
                                                                <div class="shipment-detail">
                                                                    <div class="form-check custom-form-check hide-check-box">
                                                                        <input class="form-check-input" type="radio" name="input_payment_group" id="input_payment_group_1" value="1" checked="">
                                                                        <label class="form-check-label" for="input_payment_group_1">
                                                                            Thanh toán khi nhận hàng
                                                                        </label>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <span>
                                                                <i class="fa-solid fa-money-bill mx-2" style="color: #22c393;font-size: 25px;"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12 div_fee_ship_css_payment">
                                                        <div class="delivery-option div_css_delivery_payment d-flex">
                                                            <div class="delivery-category">
                                                                <div class="shipment-detail">
                                                                    <div class="form-check custom-form-check hide-check-box">
                                                                        <input disabled="disabled" class="form-check-input" type="radio" name="input_payment_group" id="input_payment_group_2" value="2">
                                                                        <label class="form-check-label" for="input_payment_group_2">
                                                                            Chuyển khoản qua ngân hàng
                                                                        </label>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <span>
                                                                <i class="fa-solid fa-money-bill mx-2" style="color: #22c393;font-size: 25px;"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>

                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-xs-12 px-0 px-md-1">

                        <!--Product Gift-->
                        <div id="div_product_gift" style="display: none;">
                            <div class="card mb-3 div_product_gift">
                                <div class="card-body">
                                    <p class="mb-1">
                                        <i class="fa-solid fa-bolt flashit" style="font-size: 20px;color: #d36611;"></i>
                                        <span class="fs-6 text-success fw-bolder">Quà tặng</span>
                                    </p>


                                    <table class="table mb-0 align-middle">
                                        <tbody id="div_list_product_gift">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <!-- Div remark -->
                        <div class="card">
                            <div class="card-body">
                                <div class="mt-0">
                                    <div class="order-box">
                                        <div class="border-bottom color-default"><span style="font-size:16px;font-weight:500;"><i class="fas fa-comment-dollar mx-2" style="color: #357ebd;font-size: 25px"></i>Thanh toán</span></div>
                                        <ul class="qty" style="line-height: 3.2em;display: grid;">
                                            <li class="text-muted">
                                                Tạm tính (<b style="font-weight:normal;" id="b_count_cart_item">1</b> sản phẩm)
                                                <span style="float: right" class="" id="span_total_price_all_item">1đ</span>
                                            </li>
                                            <li class="text-muted">
                                                Phí vận chuyển
                                                <span style="float: right;" class="text-right" id="span_transport_fee">(chưa tính)</span>
                                            </li>
                                        </ul>
                                        <ul class="total div_border">
                                            <li class="m-0 fs-5">Tổng cộng </li>
                                            <li style="float: right;color: #466caf;"><span class="count text-right fs-5" id="span_total_price_payment">1đ</span></li>
                                            <li class="text-right"><i class="small text-muted">(Đã bao gồm VAT nếu có)</i></li>
                                        </ul>
                                    </div>
                                    <div class="payment-box">
                                        <div class="text-end d-flex justify-content-between mt-5">
                                            <a href="/san-pham" class="btn-solid btn w-50 ladda-button" style="color: #357ebd">
                                                <i class="fa-solid fa-arrow-left mx-2" style="color: #466caf;"></i>
                                                Tiếp tục mua hàng
                                            </a>
                                            <button type="button" class="btn-solid btn w-30 ladda-button text-white" id="btn_place_order" dir="ltr" data-style="expand-left" style="background: #357ebd">
                                                <span class="ladda-label">
                                                    Đặt hàng
                                                </span><span class="ladda-spinner"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>