@model WBH_WebBanQuanAo.EditModels.EM_Contact

@{
    ViewData["Title"] = "Liên hệ";
}
@section Styles{
    <link href="~/assets/styles/contact_styles.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/assets/styles/contact_responsive.css" rel="stylesheet" />

}

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li class="li_test"><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên hệ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <div id="google_map">
                <div class="map_container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16353.568036797267!2d106.79980034912896!3d10.951930455396239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174db68b8dedf95%3A0x53bddb4e4e10b393!2zVsSDbiBwaMOybmcgQ8O0bmcgdHkgQ-G7lSBwaOG6p24gRUNPIFRFQ0hOT0xPR1kgMkE!5e0!3m2!1svi!2s!4v1717572690744!5m2!1svi!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->

    <div class="row">

        <div class="col-lg-6 contact_col">
            <div class="contact_contents">
                <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
                <p>Có nhiều cách để liên hệ với chúng tôi. Bạn có thể liên hệ với chúng tôi, gọi điện hoặc gửi email cho chúng tôi, chọn những gì phù hợp với bạn nhất.</p>
                <div>
                    <p><i class="fa fa-phone"></i> 0961 874 429</p>
                    <p><i class="fa fa-envelope"></i> tovanthieu2002@gmail.com</p>
                    <p><i class="fa fa-map-marker"></i> 1, KP7, Đường Bùi Văn Hòa, Biên Hòa, Đồng Nai</p>
                </div>

            </div>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0" nonce="5md3V3Lz"></script>
            <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61559868706994" data-tabs="" data-width="500" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/profile.php?id=61559868706994" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=61559868706994">TP SHOP</a></blockquote></div>
            <!-- Follow Us -->

            <div class="follow_us_contents">
                <h1>Theo dõi chúng tôi tại</h1>
                <ul class="social d-flex flex-row">
                    @* <li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> *@
                    <li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h1>Nhập thông tin để chúng tôi liên hệ với bạn!</h1>
                <form id="contact_form" asp-action="Contact" method="post" novalidate>
                    <div>
                        <input id="input_name" class="form_input input_name input_ph" type="text" asp-for="Name" placeholder="Tên" required="required" data-error="Tên không được để trống" maxlength="50">
                        <span asp-validation-for="Name" class="text-danger"></span>

                        <input id="input_email" class="form_input input_email input_ph" type="email" asp-for="Email" placeholder="Email" required="required" data-error="Email không được để trống" maxlength="50">
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <input id="input_phone" class="form_input input_phone input_ph" type="text" asp-for="Phone" placeholder="Số Điện Thoại" required="required" data-error="Số điện thoại không được để trống" maxlength="50">
                        <span asp-validation-for="Phone" class="text-danger"></span>

                        <textarea id="input_message" class="input_ph input_message" asp-for="Note" placeholder="Ghi chú" rows="3" required data-error="Vui lòng nhập ghi chú" maxlength="200"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Gửi tin nhắn cho chúng tôi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/contact_custom.js"></script>
    <script src="~/controller/contact.js"></script>
}
