@model WBH_WebBanQuanAo.Models.Contact

@{
    ViewData["Title"] = "Thành công";
}

@section Styles {
    <link href="~/assets/styles/contact_styles.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/styles/contact_responsive.css" rel="stylesheet" />

}

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thành công</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Contact Us -->
    <div class="row">

        <h2>Thông tin của bạn đã được gửi thành công!</h2>
        <p>Cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi sẽ sớm phản hồi lại bạn.</p>

        </div>

        
</div>


@section Scripts{
    <script src="~/assets/js/contact_custom.js"></script>
    <script src="~/controller/contact.js"></script>
}