
<partial name="P_Styles" />

<div class="container single_product_container">
	<div class="row">
		<div class="col">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="index.html">Trang chủ</a></li>
					<li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>
				</ul>
			</div>

		</div>
	</div>

	<partial name="P_ProductDetail" />

</div>

<!-- Tabs -->

<div class="tabs_section_container">

	<partial name="P_Tab" />

</div>

<partial name="P_Scripts" />

