@section Styles{
    <link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">
    <link href="~/css/product-tooltips.css" rel="stylesheet" />
}
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Loại sản phẩm</h5>
                    </div>
                    <ul class="sidebar_categories">
                        <li><a href="#">Nam</a></li>
                        <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Nữ</a></li>
                        <li><a href="#">Phụ kiện</a></li>
                        <li><a href="#">Sản phẩm mới</a></li>
                        <li><a href="#">Bộ sưu tập</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Sắp xếp theo giá</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>Sắp xếp</span></div>
                </div>

                <!-- Sizes -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Kích thước</h5>
                    </div>
                    <ul class="checkboxes">
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                        <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                    </ul>
                </div>

                <!-- Color -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Màu</h5>
                    </div>
                    <ul class="checkboxes">
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Đen</span></li>
                        <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Hồng</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Trắng</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Xanh</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Cam</span></li>
                        <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Đỏ</span></li>
                    </ul>
                    <div class="show_more">
                        <span><span>+</span>Xem thêm</span>
                    </div>
                </div>

            </div>
            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Sắp xếp</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Mặc định</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="num_sorting_text">Số Lượng</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div class="page_current">
                                        <span>1</span>
                                        <ul class="page_selection">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                        </ul>
                                    </div>
                                    <div class="page_total"><span>Trang</span> 3</div>
                                    <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">

                                <!-- Product 1 -->

                                <div class="product-item men">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_1.png" alt="">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name">
                                                <a href="/product/detail" class="hover-info"
                                                   data-name="Máy ảnh kỹ thuật số Fujifilm X100T 16 MP (Màu Bạc)"
                                                   data-description="Đây là một máy ảnh kỹ thuật số chất lượng cao với độ phân giải 16 MP, lý tưởng để chụp những bức ảnh tuyệt vời. Nó đi kèm với thiết kế màu bạc mịn màng và các tính năng tiên tiến cho nhiếp ảnh chuyên nghiệp."
                                                   data-price="$520.00">
                                                    Máy ảnh kỹ thuật số Fujifilm X100T 16 MP (Màu Bạc)
                                                </a>
                                            </h6>
                                            <div class="product_price">$520.00<span>$590.00</span></div>
                                            <div class="hover-details" id="hover-details"></div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>


                                <!-- Product 2 -->

                                <div class="product-item women">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_2.png" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                                            <div class="product_price">$610.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>



                                <!-- Product 3 -->

                                <div class="product-item women">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_3.png" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Blue Yeti USB Microphone Blackout Edition</a></h6>
                                            <div class="product_price">$120.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 4 -->

                                <div class="product-item accessories">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_4.png" alt="">
                                        </div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
                                            <div class="product_price">$410.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 5 -->

                                <div class="product-item women men">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_5.png" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Pryma Headphones, Rose Gold & Grey</a></h6>
                                            <div class="product_price">$180.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 6 -->

                                <div class="product-item accessories">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_6.png" alt="">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                                            <div class="product_price">$520.00<span>$590.00</span></div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 7 -->

                                <div class="product-item women">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_7.png" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                                            <div class="product_price">$610.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 8 -->

                                <div class="product-item accessories">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_8.png" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Blue Yeti USB Microphone Blackout Edition</a></h6>
                                            <div class="product_price">$120.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 9 -->

                                <div class="product-item men">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_9.png" alt="">
                                        </div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
                                            <div class="product_price">$410.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 10 -->

                                <div class="product-item men">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_10.png" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Pryma Headphones, Rose Gold & Grey</a></h6>
                                            <div class="product_price">$180.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 11 -->

                                <div class="product-item women men">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_5.png" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Pryma Headphones, Rose Gold & Grey</a></h6>
                                            <div class="product_price">$180.00</div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>

                                <!-- Product 12 -->

                                <div class="product-item accessories">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="assets/images/product_6.png" alt="">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/product/detail">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                                            <div class="product_price">$520.00<span>$590.00</span></div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" onclick="addToCart()">thêm vào giỏ hàng</a></div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/categories_custom.js"></script>
    <script src="~/controller/product.js"></script>
}