<partial name="P_Styles" />
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                </ul>
            </div>

            <partial name="P_Filter" />

            <partial name="P_SliderProduct" />
            
        </div>
    </div>
</div>

<partial name="P_Scripts" />

