<!-- Sidebar -->

<div class="sidebar">
    <div class="sidebar_section">
        <div class="sidebar_title">
            <h5>Loại sản phẩm</h5>
        </div>
        <ul class="sidebar_categories">
            <li><a href="#">Nam</a></li>
            <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Nữ</a></li>
            <li><a href="#">Phụ kiện</a></li>
            <li><a href="#">Sản phẩm mới</a></li>
            <li><a href="#">Bộ sưu tập</a></li>
            <li><a href="#">Shop</a></li>
        </ul>
    </div>

    <!-- Price Range Filtering -->
    <div class="sidebar_section">
        <div class="sidebar_title">
            <h5>Sắp xếp theo giá</h5>
        </div>
        <p>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range"></div>
        <div class="filter_button"><span>Sắp xếp</span></div>
    </div>

    <!-- Sizes -->
    <div class="sidebar_section">
        <div class="sidebar_title">
            <h5>Kích thước</h5>
        </div>
        <ul class="checkboxes">
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
        </ul>
    </div>

    <!-- Color -->
    <div class="sidebar_section">
        <div class="sidebar_title">
            <h5>Màu</h5>
        </div>
        <ul class="checkboxes">
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Đen</span></li>
            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Hồng</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Trắng</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Xanh</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Cam</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Đỏ</span></li>
        </ul>
        <div class="show_more">
            <span><span>+</span>Xem thêm</span>
        </div>
    </div>

</div>