@section Styles {
    <link rel="stylesheet" type="text/css" href="~/assets/styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/contact_responsive.css">
}
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Đăng nhập</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Contact Us -->
    <div class="row" style="justify-content: center; text-align: center;">
        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h1>Đăng nhập</h1>
                <form id="login_form" action="post">
                    <div>
                        <input id="input_email" class="form_input input_name input_ph" type="text" name="email" placeholder="Email" required="required" data-error="Email không được để trống">
                        <input id="input_password" class="form_input input_name input_ph" type="password" name="password" placeholder="Mật khẩu" required="required" data-error="Mật khẩu không được để trống">
                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Đăng nhập</button>
                        <p>Chưa có tài khoản <a href="/user/register">Đăng ký</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/categories_custom.js"></script>
    <script src="~/assets/js/contact_custom.js"></script>
    <script src="~/controller/user.js"></script>
}