<partial name="P_Styles" />

<div class="container contact_container">
	<div class="row">
		<div class="col">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="index.html">Trang chủ</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Đăng ký</a></li>
				</ul>
			</div>

		</div>
	</div>

    <!-- Contact Us -->
    <div class="row" style="justify-content: center; text-align: center;">
        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h1>Đăng ký</h1>
                <form id="register_form" action="post">
                    <div>
                        <input id="register_email" class="form_input input_name input_ph" type="email" name="email" placeholder="Email" required="required" data-error="Email không được để trống">
                        <input id="register_password" class="form_input input_name input_ph" type="password" name="password" placeholder="Mật khẩu" required="required" data-error="Mật khẩu không được để trống">
                        <input id="register_confirm_password" class="form_input input_name input_ph" type="password" name="confirm_password" placeholder="Xác nhận mật khẩu" required="required" data-error="Xác nhận mật khẩu không được để trống">
                    </div>
                    <div>
                        <button id="register_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Đăng ký</button>
                        <p>Đã có tài khoản <a href="/user/login">Đăng nhập</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<partial name="P_Scripts" />