@section Styles{
    <link href="~/assets/styles/user_responsive.css" rel="stylesheet" />
    <link href="~/assets/styles/user_styles.css" rel="stylesheet" />
}

<div class="container contact_container">
	<div class="row">
		<div class="col">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="index.html">Trang chủ</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Đăng ký</a></li>
				</ul>
			</div>

		</div>
	</div>

    <!-- Contact Us -->
    <div class="row" style="justify-content: center; text-align: center;">
        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h1>Đăng ký</h1>
                <form id="register_form" action="post">
                    <div>
                        <input id="register_phone" class="form_input input_name input_ph" type="text" name="phone" placeholder="Số điện thoại" required="required" data-error="Số điện thoại không được để trống">
                        <input id="register_password" class="form_input input_name input_ph" type="password" name="password" placeholder="Mật khẩu" required="required" data-error="Mật khẩu không được để trống">
                        <input id="register_confirm_password" class="form_input input_name input_ph" type="password" name="confirm_password" placeholder="Xác nhận mật khẩu" required="required" data-error="Xác nhận mật khẩu không được để trống">
                        <input id="register_firstname" class="form_input input_name input_ph" type="text" name="firstname" placeholder="Họ" required="required" data-error="Họ không được để trống">
                        <input id="register_lastname" class="form_input input_name input_ph" type="text" name="lastname" placeholder="Tên" required="required" data-error="Tên không được để trống">     
                    </div>
                    <div>
                        <button id="register_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Đăng ký</button>
                        <p>Đã có tài khoản <a href="/user/login">Đăng nhập</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/js/user_custom1.js"></script>
    <script src="~/assets/js/user_custom2.js"></script>
    <script src="~/controller/user.js"></script>
}