@section Styles {
    <link href="~/assets/styles/order_responsive.css" rel="stylesheet" />
    <link href="~/assets/styles/order_styles.css" rel="stylesheet" />
    <link href="~/css/style-min.css" rel="stylesheet" />
}

<div class="container contact_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Sản phẩm yêu thích</a></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="dashboard-section section-b-space bg_custom_1" style="padding-top:0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="dashboard-sidebar bg-white">
                        <div class="profile-top pt-2">
                            <div class="profile-image">
                                <img src="https://image.tmdt247.vn/uploads/images/UISYSTEM/710c59a2-3bba-4ca8-8b6a-1b9a52a39ec5.png" alt="Avatar" class="img-fluid" onerror="this.onerror=null;this.src='/assets/images/error/avatar.png';">
                            </div>
                            <div class="profile-detail">
                                <h5>0961874429</h5>
                                <h6>thiều Tô</h6>
                            </div>
                        </div>
                        <div class="faq-tab">
                            <ul class="nav nav-tabs bg-white">
                                <li class="nav-item">
                                    <a class="nav-link bg-white" href="/User/profile">Thông tin tài khoản</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white" href="/order/">Đơn hàng của tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white active" href="/user/wishlist">Sản phẩm yêu thích</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white" href="/account/address">Sổ địa chỉ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white" href="/colection-voucher-coupon">Ví Voucher/Coupon</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white" data-toggle="modal" data-target="#modal_signout" href="javascript:void(0)">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 bg-white" id="div_zone_order_list">
                    <div class="faq-content tab-content" id="top-tabContent">
                        <div class="tab-pane fade show active" id="products">
                            <section class="tab-product pt-0 mt-4">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                            <li class="nav-item li_status_order" data-status="all">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#" role="tab" aria-selected="true">
                                                    <i class="icofont icofont-ui-home"></i>Danh sách sản phẩm yêu thích
                                                </a>
                                                <div class="material-border"></div>
                                            </li>
                                        </ul>

                                        <section class="order-list pt-4">
                                            <div class="order-item bg-light mb-3 p-3 border rounded d-flex align-items-center" data-status="delivered">
                                                <div class="order-image">
                                                    <img src="~/assets/images/product_1.png" alt="Product Image" class="img-fluid">
                                                </div>
                                                <div class="order-details ms-3 flex-grow-1 d-flex justify-content-between">
                                                    <p><strong>Tên sản phẩm:</strong> <a href="/product/detail"> Example Product 1</a></p>
                                                    <p><strong>Giá:</strong> $20.00</p>
                                                    <p><strong>Ngày lưu:</strong> 2024-05-31</p>
                                                </div>
                                            </div>
                                            <div class="order-item bg-light mb-3 p-3 border rounded d-flex align-items-center" data-status="shipping">
                                                <div class="order-image">
                                                    <img src="~/assets/images/product_1.png" alt="Product Image" class="img-fluid">
                                                </div>
                                                <div class="order-details ms-3 flex-grow-1 d-flex justify-content-between">
                                                    <p><strong>Tên sản phẩm:</strong> <a href="/product/detail">Example Product 2 </a></p>
                                                    <p><strong>Giá:</strong> $15.00</p>
                                                    <p><strong>Ngày lưu:</strong> 2024-05-30</p>
                                                </div>
                                            </div>
                                            <div class="order-item bg-light mb-3 p-3 border rounded d-flex align-items-center" data-status="cancelled">
                                                <div class="order-image">
                                                    <img src="~/assets/images/product_1.png" alt="Product Image" class="img-fluid">
                                                </div>
                                                <div class="order-details ms-3 flex-grow-1 d-flex justify-content-between">
                                                    <p><strong>Tên sản phẩm:</strong><a href="/product/detail"> Example Product 3 </a></p>
                                                    <p><strong>Giá:</strong> $30.00</p>
                                                    <p><strong>Ngày lưu:</strong> 2024-05-29</p>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 pb-2 bg-white" id="div_zone_order_view_detail" style="display:none;">
                    <div class="faq-content tab-content">
                        <div class="tab-pane fade show active">
                            <section class="tab-product pt-0">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="tab-content nav-material">
                                            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="top-home-tab">
                                                <div class="mt-0" id="div_order_detail">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script src="~/assets/js/order_custom.js"></script>
}
